body {
    color: #444444;
}

.inner,
.container {
    width: 1200px;
    margin: 0 auto;
}

.tit {
    line-height: 1;
}

.flex {
    display: flex;
    flex-direction: row;
}

.sec {
    padding: 100px 0;
}

/* μ„Έν… css */

.header {
    position: relative;
    line-height: 100px;
    width: 100%;
    z-index: 999;
}

.header .inner {
    position: fixed;
    width: 100%;
    background: #fff;
}

.header h1 {
    position: absolute;
    top: 0;
    left: 65px;
    font-size: 0;
}

.header .gnb {
    width: 1200px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0);
    transition: 0.45s;
}

.header .gnb>ul {
    justify-content: center;
    gap: 100px;
    font-size: 16px;
    font-weight: 500;
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 0;
    background: #fff;
    z-index: 0;
    transition: 0.45s;
}

.header .gnb:hover::before {
    height: 132px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 150px;

    line-height: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.45s;
}

.header .gnb>ul:hover>li ul {
    visibility: visible;
    opacity: 1;
}

/* header */


.mainVisual {
    position: relative;
    height: 800px;
    background: url(../img/main01.jpg) no-repeat center center/cover;
}

.mainVisual .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainVisual .inner h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.mainVisual .inner p {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
}

/* mainVisual} */

.mainContent h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.mainContent p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
}

.mainContent figure {
    position: relative;
    flex: 1;
}

.mainContent figure img {
    width: 100%;
}

.mainContent figure span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 300;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.45s;
}

.mainContent figure span:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

/* mainContent */

.footer {
    padding: 50px 0;
    background: rgb(34, 34, 34);
}

.footer .footList {
    font-size: 0;
}

.footer .footList li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    padding: 0 30px 0 0;
}

.footer .footList .bold {
    font-weight: 500;
    color: #ff0;
}